button {
    background-color: #1f2937;
    padding: 8px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: medium;
    color: #d97706;
    text-shadow: #e7ecfa;
    cursor: pointer;
    margin-bottom: 4.8vh;
}
button:hover{
    background-color: #8492c1;
}
button:active{
    background: #c2848d;
}
.posts{
    margin-top: 32px;
    margin-left: 16px;
    color: #fafaf3;
}
.top{
    height: 90vh;
}
input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px;
    margin-left: 16px;   
    margin-top: 32px;
}
.bottom{
    margin-left: 8px;
}
.prev{
    width: 70px;
    border-bottom-left-radius: 30px;
    margin-left: 8px;
}
.next{
    border-bottom-right-radius: 30px;
    width: 70px;
}
hr{
    background-color: #d97706;
}